.Add {
    justify-content: center;
}

.plus{
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    left: 50%;
}

form{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.input{
    width: 95%;   
    margin: auto;
}