.column {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

/* Clear floats after the columns */
.Row {
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.line {
    display: inline-block;
    margin-left: 5%; 
}

.format {
    display: inline-block;
    margin: 10px;
}

.accepted {
    background-color: rgb(114, 228, 114);
}